<section id="contact">
    <div class="contact-container">
<h2 class="section-title">{{ _("Connettiti con noi") }}</h2>

    <div class="contact-wrapper">
        <div class="contact-info">

            <div class="info-item">
                <div class="info-icon">📍</div>
                <div class="info-text">
                    <h4>{{ _("Visitaci") }}</h4>
                    <p>Via Cherasco, 15<br>Torino TO, 10126</p>
                </div>
            </div>

            <div class="info-item">
                <div class="info-icon">📧</div>
                <div class="info-text">
                    <h4>{{ _("Email") }}</h4>
                    <p>cresla.torino@gmail.com<br></p>
                </div>
            </div>

            <div class="info-item">
                <div class="info-icon">📞</div>
                <div class="info-text">
                    <h4>{{ _("Telefono") }}</h4>
                    <p>+39/011-6335439<br>{{ _("Lun-Ven, 9-12") }}</p>
                </div>
            </div>
        </div>

    </div>
</div>
</section>