<!-- Header -->
<header>
    <nav>
        <a href="#hero" class="logo">
            <span class="logo-text">{{ _("D-SLA") }}</span>
        </a>
        <div class="menu-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="nav-links">
            <li><a href="#hero" class="nav-link active">{{ _("Home") }}</a></li>
            <li><a href="#tool" class="nav-link">{{ _("Servizi") }}</a></li>
            <li><a href="#definitions" class="nav-link">{{ _("Definizioni") }}</a></li>
            <li><a href="#bibliography" class="nav-link">{{ _("Bibliografia") }}</a></li>
            <li><a href="#contact" class="nav-link">{{ _("Contatti") }}</a></li>
            <li class="lang-it"><a href="/als-differential-analysis/set-lang/it" class="nav-link">🇮🇹 Italiano</a></li>
            <li class="lang-en"><a href="/als-differential-analysis/set-lang/en" class="nav-link">🇬🇧 English</a></li>
        </ul>
    </nav>
</header>
